table, th, td {
    border: 1px solid black;
    border-collapse: separate; 
    padding: 10px;
    row-gap: 10px;
    position: center;
    margin-left: auto;
    margin-right: auto;
 }

h3 {
    text-shadow: 2px 2px 2px #CCCCCC;
    font-size: 20px;
}

.main {
    
    margin: 1 auto;
    border:1px solid aquamarine

}
