
<br>

<table >
    <tr>
        <th>PolicyID</th>
        <th>PolName</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <tr  *ngFor="let policy of policies">
        <td>{{policy.policyID}}</td>
        <td>{{policy.polName}}</td>
        <td>{{policy.description}}</td>
        <td>{{policy.category}}</td>
    </tr>



</table>
    <p> 
        <input type="button" [routerLink]="['/insertpolicy']" value="Insert Policy">
        <!-- <input type="button" [routerLink]="['/insertpolicy']" value="Insert Policy"> -->
    </p>