.main{
    background-color:#FF5733 ;
    height: 150px;
}

h1{    
    font-weight: bold;
    color: #f3f3f5;
}
.logo{
    position: relative;
    display: inline;
    float: left;
   
}

.hedding{
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 1%;
} 